@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}

nav ul li{
    list-style: none;
    padding: 0 23px;

}

nav ul li a{
    color: white;
    text-decoration: none;
}

header {
  
    background-color: #2874f0;
    font-family: 'Playfair Display', serif;

}
nav .search{
    display: flex;
    align-items: center;
}
nav .search input{
        width: 30vw;
            height: 34px;
            border-radius: 2px;
            margin-left: 63px;
            margin-right: 10px;
            padding: 0 8px;
}
nav ul{  
        margin-left: 17px;
    height: 58px;
    display: flex;
    align-items: center;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
nav .logo {
    display: flex;
    align-items: center;
    width: 60px;

}
nav {
    display: flex;
    align-items: center; 
}
nav .logo img{
    width: 60px;
    padding: 0 11px;
}
footer{
    height: 12vh;
    background-color: #2874f0;
    color: wheat;
    font-family: 'Playfair Display', serif;
}
.cards{
    overflow: hidden;
   
}
.card h2{
margin:26px 0 ;
}
.card{
 max-width: 91vw;
 margin: auto;   
font-family: 'Playfair Display', serif;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    
    flex-direction: column;
    margin: 5px 7px;
   
}

@media screen and (max-width:1000px){
   
    nav{
        display: flex;
        flex-direction: column;

    }
    nav .logo{
        margin-top: 2%;
    }
    nav ul {
        height: 28px;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    nav .search{
        margin-bottom: 1%;
    }
   .card-item img{
    width: 100px;
   }
   .card{
    max-width: 98vw;
   }
   .cards{
    text-align: center;
   }
   
}